PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/interview_ai_db
GOOGLE_GENAI_API_KEY=your_google_genai_api_key_here
JWT_SECRET=your_jwt_secret_here
CLIENT_URL=https://interview-ai-mr.vercel.app
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
